openapi: 3.2.0
info:
  title: Deezer Public Playlist API
  description: Public REST API for the Deezer music streaming service. Catalog endpoints (tracks, albums, artists, playlists, charts, genres, radios, editorial, search) are available unauthenticated; user-scoped endpoints require an OAuth 2.0 access token issued via the Deezer Connect flow.
  version: 1.0.0
servers:
- url: https://api.deezer.com
  description: Deezer public REST API
security: []
tags:
- name: Playlist
paths:
  /playlist/{id}:
    get:
      tags:
      - Playlist
      summary: Get a playlist by id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Playlist
      operationId: getPlaylistById
      x-operation-id-source: derived
  /playlist/{id}/tracks:
    get:
      tags:
      - Playlist
      summary: List tracks in a playlist
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Tracks
      operationId: getPlaylistByIdTracks
      x-operation-id-source: derived
    post:
      tags:
      - Playlist
      summary: Add tracks to a playlist (OAuth required)
      security:
      - oauth2:
        - manage_library
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - in: query
        name: songs
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tracks added
      operationId: postPlaylistByIdTracks
      x-operation-id-source: derived
    delete:
      tags:
      - Playlist
      summary: Remove tracks from a playlist (OAuth required)
      security:
      - oauth2:
        - manage_library
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - in: query
        name: songs
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tracks removed
      operationId: deletePlaylistByIdTracks
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.deezer.com/oauth/auth.php
          tokenUrl: https://connect.deezer.com/oauth/access_token.php
          scopes:
            basic_access: Basic profile info
            email: Get user's email address
            offline_access: Long-lived access
            manage_library: Manage user's library
            manage_community: Manage user's community
            delete_library: Delete from user's library
            listening_history: Read listening history
