openapi: 3.1.0
info:
  title: Deezer Public Album Search API
  description: Public REST API for the Deezer music streaming service. Catalog endpoints (tracks, albums, artists, playlists, charts, genres, radios, editorial, search) are available unauthenticated; user-scoped endpoints require an OAuth 2.0 access token issued via the Deezer Connect flow.
  version: 1.0.0
servers:
- url: https://api.deezer.com
  description: Deezer public REST API
security: []
tags:
- name: Search
paths:
  /search:
    get:
      tags:
      - Search
      summary: Search across the Deezer catalog
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      - in: query
        name: order
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: index
        schema:
          type: integer
      responses:
        '200':
          description: Search results
  /search/album:
    get:
      tags:
      - Search
      summary: Search albums
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Albums
  /search/artist:
    get:
      tags:
      - Search
      summary: Search artists
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Artists
  /search/playlist:
    get:
      tags:
      - Search
      summary: Search playlists
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Playlists
  /search/track:
    get:
      tags:
      - Search
      summary: Search tracks
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tracks
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.deezer.com/oauth/auth.php
          tokenUrl: https://connect.deezer.com/oauth/access_token.php
          scopes:
            basic_access: Basic profile info
            email: Get user's email address
            offline_access: Long-lived access
            manage_library: Manage user's library
            manage_community: Manage user's community
            delete_library: Delete from user's library
            listening_history: Read listening history
